deb http://mirrors.aliyun.com/ubuntu/ {{ codename.stdout|replace('\r\n', '') }} main multiverse restricted universe
deb http://mirrors.aliyun.com/ubuntu/ {{ codename.stdout|replace('\r\n', '') }}-backports main multiverse restricted universe
deb http://mirrors.aliyun.com/ubuntu/ {{ codename.stdout|replace('\r\n', '') }}-proposed main multiverse restricted universe
deb http://mirrors.aliyun.com/ubuntu/ {{ codename.stdout|replace('\r\n', '') }}-security main multiverse restricted universe
deb http://mirrors.aliyun.com/ubuntu/ {{ codename.stdout|replace('\r\n', '') }}-updates main multiverse restricted universe
deb-src http://mirrors.aliyun.com/ubuntu/ {{ codename.stdout|replace('\r\n', '') }} main multiverse restricted universe
deb-src http://mirrors.aliyun.com/ubuntu/ {{ codename.stdout|replace('\r\n', '') }}-backports main multiverse restricted universe
deb-src http://mirrors.aliyun.com/ubuntu/ {{ codename.stdout|replace('\r\n', '') }}-proposed main multiverse restricted universe
deb-src http://mirrors.aliyun.com/ubuntu/ {{ codename.stdout|replace('\r\n', '') }}-security main multiverse restricted universe
deb-src http://mirrors.aliyun.com/ubuntu/ {{ codename.stdout|replace('\r\n', '') }}-updates main multiverse restricted universe
